h1{
    color: red;
}
body{
    background-color: blue;
}
img{
width: 50%;
height: 50%;

}
.contacts{
    text-align: center;
}
.topnav a{
    margin-left: 15%;
    font-size: xx-large;
    font-style: italic;
    color:black;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
}
h1{
    text-align: center;
}h2, p{
    text-align:center ;

}
image{
    text-align: center;
}